.container {
  width: 350px;
  height: 200px;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 1rem;
  
}


.Bank-img {
  display: flex;
  justify-content: flex-end;    
}

.Card-img {
  width: 60px;
}

.Card-number {
  text-align: center;
  font-size: 30px;
}

.Info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 50px;
  width: 80px;
  margin-bottom: 5px;
  padding: 10px;
}

.Owner {
  margin-top: 0;
  
}


